<% content_for :head do %>
  <title>Resolutions2015</title>
  <meta property="og:site_name" content="Resolutions2015" />
  <meta property="og:image" content="<%= asset_url('road.jpg')%>" />
  <meta property="og:title" content="Resolutions2015: Make Resolutions for new year" />
  <meta property="og:url" content="http://resolutions2015.com" />
  <meta property="og:description" content="Resolutions 2015 is a platform to make new year resolutions, share them with friends through various social media channels and we help you in following these resolutions." />
  <meta property="fb:app_id" content="425078167639341" />

<% end %>


<% unless signed_in? %>
	<div class="home-page-pic container-fluid">
		<%= render partial: "layouts/header" %>
		  <div class="row">
		    <div class="" >
		      <h1>Make New Year Resolutions, Share And Keep On Track</h1>
		    </div>
		  </div>

		<div class="primary">
		  <a href="/auth/facebook"><button class="btn" style="background-color: transparent"><%=image_tag("login-facebook.png", style:"width: 50%") %></button></a>
		</div>
	</div>


	<div class="container-fluid homepage-description">
		<div class="row  panel-primary text-center">
			<div class="col-md-4 col-sm-4">
				<h3>Make</h3>
					<%= image_tag "make-resolution.png"%>
					<br>
				<h5 class="text-warning">Make your Resolutions, crisp and clear</h5>
			</div>
			<div class="col-md-4 col-sm-4">
				<h3>Download & Share</h3>
				<%= image_tag "share-resolution.png"%>
				<br>
				<br>
				<h5 class="text-warning">Download Resolutions as Image, make wallpaper and share on social media</h5>
			</div>
			<div class="col-md-4 col-sm-4">
				<h3>Track</h3>
				<%= image_tag "track-resolution.png"%>
				<br>
				<h5 class="text-warning">Get Friendly Reminder for next 21 days</h5>
			</div>
		</div>
		<div class="bs-callout bs-callout-info bs-philoshopy">
			<h4>Philosophy of a Resolution</h4>
			<p>Being clear about what you want to do - <span class="text-info" style="font-weight:bold">Make resolution</span></p>
			<p>Let others know it, Promise to someone more than yourself - <span class="text-info" style="font-weight:bold">Share it</span></p>
			<p>Follow Resolutions atleast for 21 days, it tends to become habit after that - <span class="text-info" style="font-weight:bold">Make it your wallpaper, Get Reminded Everyday</span></p>
		</div>
	</div>

<% else %>
<% imgno= rand(1..3) %>
	<div class="home-page-after-signin run<%=imgno%> container-fluid">
		<%= render partial: "layouts/header" %>
		  <div class="row">
		    <div class="" >
		      <h1>Happy New Year 2015</h1>
		      <h3>make the best of it</h3>
		    </div>
		  </div>

		<div class="primary">
		  
		</div>
	</div>
<% end %>

<%= render partial: "layouts/footer" %>